
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(180deg, #EEEDE7, #E7D2CC);
}

.calc-container {
  background-color: #B9B7BD;
  box-shadow: 10px 10px 25px grey;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  width: 25rem;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5rem;
  padding-bottom: 1rem;
}

#display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #868B8E;
  height: 170px;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  margin-bottom: 17px;
  border-radius: 5rem 5rem 0 0;
  font-family: 'Zen Dots', cursive;
}

#currentOperand {
  font-size: 1.8rem;
  margin-right: 3rem;
}

#prevOperand {
  margin-right: 3rem;
  margin-top: 3rem;
  font-size: 1rem;
}

.button-row {
  text-align: center;
  height: 4.5rem;
}

.button-row:last-child {
  display: flex;
  justify-content: flex-end;
}

/* ÷ x - + = */
button:last-child {
  background-color: #868B8E;
  float: right;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 4px;
  background-color: rgb(229, 239, 172);
  border: none;
  font-size: 1.1rem;
}

button:focus {
  outline: none;
}

button:active {
  border: 1px solid black;
}

button:hover {
  background-color: #E7D2CC;
  border-style: dashed;
  border-color: darkgrey;
}

#clear {
  float: left;
  width: 4rem;
  border-radius: 40px;
}

#bottom-row {
  display: flex;
  /* margin: auto; */
  border-radius: 40px;
  justify-content: space-between;
}

@media only screen and (max-width: 330px) {
  .calc-container {
    width: 300px;
  }
}
